<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My MVC Demo App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Validation<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Clientside Validation", "ClientsideValidation", "Home")</li>
                            <li>@Html.ActionLink("Custom Validation", "CustomValidation", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Html Helpers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("ExtensionMethod", "CustomHtmlExtensionHelper", "Home")</li>
                            <li>@Html.ActionLink("Static Method", "CustomHtmlStaticMethod", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Angular Example", "AngularJs", "Angular")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @*  Following is a section that is NOT optional.
            If the second optional parameter is set to true then the section
            needs to be defined in every view that is rendered inside this layout. *@
        <h2>
            @RenderSection("Title", true)
        </h2>
        <hr />
        @RenderBody()
        @*  The following sections are optional.
        If the second parameter is set to false then the section does not
        need to be defined in every view that is rendered inside this layout. *@
        @if (IsSectionDefined("Resources"))
        {
            <hr />
            <h2>Resources</h2>
        }
        @RenderSection("Resources", false)
        <hr />
        @RenderSection("Footer", false)

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
